[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
asgiref = "*"
boto3 = "*"
botocore = "*"
certifi = "*"
chardet = "*"
convertdate = "*"
cycler = "*"
dj-database-url = "*"
django-cleanup = "*"
django-cors-headers = "*"
django-heroku = "*"
django-sslserver = "*"
django-storages = "*"
django = "*"
djangorestframework = "*"
docutils = "*"
gunicorn = "*"
holidays = "*"
idna = "*"
jmespath = "*"
joblib = "*"
kiwisolver = "*"
korean-lunar-calendar = "*"
lxml = "*"
matplotlib = "*"
multitasking = "*"
numpy = "*"
pandas-datareader = "*"
patsy = "*"
psycopg2 = "*"
pymeeus = "*"
pyparsing = "*"
python-dateutil = "*"
python-decouple = "*"
pytz = "*"
requests = "*"
s3transfer = "*"
scikit-learn = "*"
scipy = "*"
six = "*"
sklearn = "*"
sqlparse = "*"
statsmodels = "*"
threadpoolctl = "*"
typing-extensions = "*"
urllib3 = "*"
whitenoise = "*"
xlrd = "*"
pandas = "*"

[requires]
python_version = "3.6"
