asgiref==3.2.7
boto3==1.13.11
botocore==1.16.11
certifi==2020.4.5.1
chardet==3.0.4
convertdate==2.2.1
cycler==0.10.0
dj-database-url==0.5.0
django==3.0.7
django-cleanup==4.0.0
django-cors-headers==3.2.1
django-heroku==0.3.1
django-sslserver==0.22
django-storages==1.9.1
djangorestframework==3.11.0
docutils==0.15.2
gunicorn==20.0.4
holidays==0.10.2
idna==2.9
jmespath==0.10.0
joblib==0.15.1
kiwisolver==1.2.0
korean-lunar-calendar==0.2.1
lxml==4.5.0
matplotlib==3.2.1
multitasking==0.0.9
numpy==1.18.4
pandas==1.0.3
pandas-datareader==0.8.1
patsy==0.5.1
psycopg2==2.8.5
PyMeeus==0.3.7
pyparsing==2.4.7
python-dateutil==2.8.1
python-decouple==3.3
pytz==2020.1
requests==2.23.0
s3transfer==0.3.3
scikit-learn==0.23.0
scipy==1.4.1
six==1.14.0
sklearn==0.0
sqlparse==0.3.1
statsmodels==0.11.1
threadpoolctl==2.0.0
typing-extensions==3.7.4.2
urllib3==1.26.5
whitenoise==5.0.1
xlrd==1.2.0
